@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: linear-gradient(45deg, rgb(255, 114, 114), rgb(252, 202, 109), rgb(243, 243, 102), rgb(110, 241, 110), rgb(90, 201, 235), rgb(224, 86, 201));
  color: white;
  min-height: 100vh;
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%;}
}


a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* Nav */

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 0 10px;
}

nav ul li:hover {
  text-decoration: underline;
}


/* Header */

.app-header {
  background:cornflowerblue;
  height: 50px;
  padding: 10px;
}

/* Home */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.home h1 {
  font-family: 'Playfair Display', serif;
}

.home div {
  width: 450px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  color: cornflowerblue;
  box-shadow: 1px 1px 5px rgb(161, 156, 156);
}

.home a {
  color:rgb(255, 0, 85); 
  margin-top: 10px;
  display: block;
  padding: 2px;
}

.home a:hover {
  text-decoration: underline;
}

.home svg {
  vertical-align: top;
}

.home div p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5em;
}
/* Blog Posts */

.main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 65% 1fr;
  padding: 20px;
}

.posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-post {
  background: white;
  color: #282c34;
  margin-bottom: 30px;
  padding: 15px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 10px rgb(133, 147, 153);
}

.blog-post h1 {
  padding: 5px;
  text-transform: capitalize;
  color: cornflowerblue;
  font-family: 'Playfair Display', serif;
  margin: 0;
  text-align: center;
}

.blog-post-body {
  padding: 10px 10px;
}

.blog-post-body p {
  font-weight: 500;
  line-height: 1.75em;
  text-align: justify;
}


.blog-post-body .author {
  color: gray;
  font-style: italic;
  padding-bottom: 20px;
}

.blog-post button {
  border: 1px solid cornflowerblue;
  background: white;
  color: cornflowerblue;
  font-size: 1.2em;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  padding: 10px;
}

/* BlogPost with Comments */

.blog-post-feature {
  background: white;
  color: cornflowerblue;
  margin: 20px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-post-feature h1 {
  text-transform: capitalize;
}

.blog-post-feature .blog-body {
  width: 100%;
  margin-bottom: 20px;
}

.likes {
  text-align: center;
}


.blog-post-feature h1, .comments h1 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
}

.blog-post-feature p {
  text-align: justify;
  margin-bottom: 10px;
  line-height: 2em;
  color: black;
}

.comments {
  width: 100%;
}

.comments h1 {
  font-size: 1.2em;
}

.comment {
  border: 1px dotted cornflowerblue;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.comment h3 {
  text-decoration: underline;
}


/* Sidebar */

.sidebar {
  background: white;
  padding: 20px;
  height: fit-content;
  box-shadow: 1px 2px 10px rgb(133, 147, 153);

}

.sidebar h1 {
  color: cornflowerblue;
  font-family: 'Playfair Display', serif;
}

.sidebar .img-container {
  width: 100%;
  margin: 10px 0;
}

.img-container img {
  width: 100%;
}

.sidebar p {
  color: #282c34;
  margin-bottom: 10px;
}

.sidebar a {
  color: #282c34;
  padding-right: 10px;
  font-size: 1.5em;
}

.sidebar a:hover {
  color: rgb(255, 0, 85);
}

.social {
  text-align: center;
}

/* Comment Form */

.form {
  border: 1px dotted rgba(255, 255, 255, 0.356);
  background: cornflowerblue;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

.form form {
  color: white;
  display: flex;
  flex-direction: column;
}

label, input, textarea {
  margin: 5px 0;
}

input, textarea {
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
  border: 0;
}

.form button {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1em;
  border: 1px solid #282c34;
  color: #282c34;
  margin-top: 10px;
  align-self: center;
}

.form button:hover {
  background: #282c34;
  color: white;
  cursor: pointer;
}

/* Like Hearts */

span button {
  background: none;
  border: none;
  color: rgb(255, 0, 85);
  font-size: 1em;
  padding: 5px;
}

span button:focus {
  outline: none;
}